<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Website Title</title>
    <link rel="stylesheet" href="/stylesheets/foundation.min.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  </head>
  <body>
    <%= yield %>

    <script type="text/javascript" charset="utf-8" src="/javascripts/application.js"></script>
  </body>
</html>
